html, body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

.controls {
    position: absolute;
    top: 10px;
    left: 10px;
    bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.control {
    border-radius: 5px;
    background: #FFF;
    border: 1px solid #CCC;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    padding: 5px;
    margin-bottom: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.control:last-of-type {
    margin-bottom: 0px;
}

.control input {
    width: 90px;
    padding: 5px 0 5px 14px;

    font-family: 'Roboto', sans-serif;
    font-size: 14px;

    border: 0;
    outline: 0;
    border-bottom: 1px solid #CCC;
    text-align: center;
}

.control input:hover {
    border-bottom: 1px solid #AAA;
}

.control input[type="color"] {
    /*height: auto;
    cursor: pointer;
    padding: 0;
    height: 30px;*/
    display: none;
}

.control label {
    line-height: 1.5;
}

.control button {
    outline: 0;
    border-radius: 5px;
    border: 1px solid #BBB;
    border-bottom-width: 2px;
    background: #DDD;
    margin-bottom: 5px;
    padding: 5px;
    width: 100%;

    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

.control button:last-of-type {
    margin-bottom: 0px;
}

.control button:hover {
    background: #EEE;
    cursor: pointer;
}

.control button:active {
    border-bottom-width: 1px;
    margin-top: 1px;
}

.control #load {
    display: none;
}